footer {
    background-color: var(--dark-grey);
    color: #FFFFFF;
    padding: 4rem 3rem 5rem;
    text-align: center;
    margin-top: 5rem;
}

footer>img {
    width: 50%;
}

footer>p {
    margin-top: 1rem;
    font-size: 1.2rem;
    font-family: 'gotham-light';
}

@media screen and (min-width:667px) and (max-width:1023px) {
    footer {
        padding: 1.5rem 1rem 2rem;
    }

    footer>img {
        width: 30%;
    }

    footer>p {
        font-size: 1rem;
    }
}

@media screen and (min-width:1024px) {
    footer>img {
        width: 12%;
    }
}