#form-card {
    border: 2px solid var(--light-grey);
    border-bottom: 8px solid var(--light-grey);
    border-radius: 8px;
    padding: 1.5rem;
    font-family: 'gotham-light', sans-serif;
    margin-bottom: 7rem;
}

#form-card-icon {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
}

#form-card-icon img {
    width: 3rem;
    margin-right: 0.6rem;
}

#form-card-title {
    font-size: 2rem;
    padding: 2rem 0 0 1.4rem;
}

#form-card>hr {
    margin: 1rem 0 1.5rem;
}

#form-card>label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

#form-card input[type='radio'] {
    margin-right: 0.5rem;
    width: 2rem;
    height: 2rem;
    align-self: center;
    cursor: pointer;
}

#footer-form>label,
#close-units {
    cursor: pointer;
}

#form-card>label>p {
    width: 100%;
    text-align: end;
}

#close-units {
    margin-right: 0.5rem;
    width: 1rem;
    height: 1rem;
    vertical-align: middle;
}

#label-close-units,
#label-close-units+p {
    font-family: 'gotham-book', sans-serif;
    font-size: 1.3rem;
}

#label-close-units+p {
    margin: 2rem 0 2.5rem 0;
    text-align: center;
}

#label-close-units+p>span {
    font-family: 'gotham-bold', sans-serif;
}

#btn-find,
#btn-clear {
    width: 100%;
    padding: 1rem 5rem;
    font-family: 'gotham-bold', sans-serif;
    font-size: 1.2rem;
    border-radius: 5px;
}

#btn-find {
    background-color: var(--yellow);
    border: none;
    margin-bottom: 1.5rem;
    cursor: pointer;
}

#btn-clear {
    background-color: #FFFFFF;
    border: 3px solid var(--light-grey);
    cursor: pointer;
}

@media screen and (min-width:1024px) {
    #label-close-units {
        display: block;
    }

    #footer-form {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #form-card-buttons {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #btn-find {
        width: 40%;
        margin: 0 1.5rem 0 0;
    }

    #btn-clear {
        width: 40%;
    }
}