#banner {
    background-color: #333333;
    padding: 10% 20%;
}

#descritions {
    padding: 0 5%;
    margin: 7rem 0;
}

#descritions>h1 {
    font-size: 3rem;
    font-family: 'gotham-bold', sans-serif;
}

#hr-header {
    width: 40%;
    height: 1rem;
    background-color: #333333;
    margin: 1.5rem 0 2rem 0;
}

#descrition-header {
    font-size: 1.35rem;
    line-height: 1.8rem;
}

@media screen and (min-width:667px) and (max-width:1023px) {
    #banner {
        padding: 2% 40%;
    }
}

@media screen and (min-width:1024px) {
    #banner {
        padding: 2% 40%;
    }

    #descritions>h1 {
        width: 35%;
    }

    #hr-header {
        width: 10%;
    }
}